@import 'tailwindcss';

/* * {
  border: solid 1px black !important;
} */

@media print {
  button {
    display: none !important;
  }

  body {
    background-color: white !important;
    color: black !important;
    font-size: 12pt;
  }

  .shadow-md {
    box-shadow: none !important;
    border: 1px solid #ddd;
  }

  form {
    page-break-after: always;
  }
}
